#menu{
			width:165px;
			height:100%;
			display:block !important;
			float:left;
			padding-left: 0px;
			padding-right: 0px;
			}
			#menu{
				visibility: hidden;
				}
			#menu ul{
				margin:0;padding:0;
				width:inherit;
				}
				#menu a{
					margin-left: 0px;
					margin-right: 0px;
					text-align: left;
				}

					.active{
						background-color:#383737;
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,29,29,1)), color-stop(21%,rgba(56,55,55,1)));
						}
						li.active a span.icon{
							background-position:0 -20px !important;
						}	
						

						a.menuBtn{
								background: transparent url(../images/menuBtn.png) top left no-repeat !important;
								width:31px;
								height:31px;
								background-size: 30px 30px;
								text-indent:-999em !important;
								display:block !important;
								-webkit-box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;
								box-shadow: 0 0px 0 rgba(150,150,150,.3) !important;
	
							}
							a.menuBtn .ui-btn-inner{
								border:none;
							}
							a.menuBtn:hover{
								border:none !important;
							}
							.ui-btn-corner-all {
								-webkit-border-radius: 0 !important;
								border-radius: 0 !important;
								}


.count {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    padding: .2em .5em;
    top: 50%;
    margin-top: -1em;
}

.ui-li-aside {
    float: right;
    width: 50%;
    text-align: right;
    margin: 1.4em 0px 0px 0px !important;
    position: absolute;
    right: 25px; 
}

.ui-li-heading, .ui-li-desc {
    width: 90%;
    text-overflow: ellipsis;
}

strong { font-style: bold; }




/*configuracion player */



#bplayer {


position:absolute;
left:-3000px;
top:70%;
width:100%;
height:30%;
background-color:black;




}

.jp-playlist {

position:absolute;
left:0px;
top:-160%;
width:100%;



}

.jp-controls{
z-index:9999999;
	
}

a.jp-previous {text-decoration:none; width:35px; height:40px; text-indent:-50000em; background:url(../images/previous.png) no-repeat center; display:block; text-align:center; position:relative; top:0px; float:left; margin-left: 40%;  margin-top:5px;}
a.jp-next {text-decoration:none; width:35px; height:40px; text-indent:-50000em; background:url(../images/next.png) no-repeat center; display:block; text-align:center; position:relative; top:0px; float:left; margin-left: 10px; margin-top:5px;}

a.jp-play {text-decoration:none; width:44px; height:50px; text-indent:-50000em; background:url(../images/play.png) no-repeat center; display:block; text-align:center;   position:relative; top:0px; float:left; margin-left: 10px; margin-top:0px;}
a.jp-pause {text-decoration:none; width:44px; height:50px; text-indent:-50000em; background:url(../images/pause.png) no-repeat center; display:block; text-align:center;  position:relative; top:0px; float:left; margin-left: 10px; margin-top:0px;}

.jp-controls li {
display:inline; 
	
}

a.jp-stop { visibility:hidden;

}


a.jp-mute { visibility:hidden;

}


a.jp-volume-max { visibility:hidden;

}


a.jp-shuffle { visibility:hidden;

}

a.jp-repeat { visibility:hidden;

}


a.jp-full-screen { visibility:hidden;

}



.jp-playlist ul{	
	overflow-x:hidden;
white-space:nowrap; 


	
}

a.back {text-decoration:none; width:43px; height:30px; text-indent:-50000em; background:url(../images/backButton.png) no-repeat center; display:block; text-align:center;}




